#feedback-background {
    background-color: rgb(50, 169, 238);
  }

  element{
      --formHeight: 1500;
  }
.formPage{
    margin-right: 5em;
    margin-left: 5em;
    margin: 5em auto 0;
    margin-top:2em;
    margin-bottom:2em;
    width:70%;
    max-width:900px;
    /* min-width:807px; */
    height: 780px;
    /* var(--formHeight) ; */
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    overflow: hidden;
}
.clear {clear:both;}

label{
    color: rgb(14, 70, 192);
}

#button{
    margin-top:1em;
    margin-left:2.5em;
    margin-bottom:1em;
    color: rgb(255, 255, 255);
    height:35px;
    border-radius: 3px;
    border:none;
}

#bannerbar{
    height: 1em;
    background-color: rgb(14, 70, 192);
    border-top-left-radius : 5px;
    border-top-right-radius: 5px;
}
#barTwo{
    margin-top:.75em;
    margin-right: 1.5em;
    margin-left:1.5em;
    height:.5em;
    background-color: rgb(14, 70, 192);
}
#logo-feedback{
    width:200px;
    height:140px;
    float: right;
    /* margin-left: 35em auto 10; */
    margin-right: 6em;
    /* margin: auto 0; */
}

/* .container{
    width:50px;
    height:50px;
} */
 #userProfile{
    min-width:45%;
    width:60%;
    height:60%;
    /* object-fit: contain; */
}

.textFeedback{
    color: rgb(14, 70, 192);
}

.textFeedback textarea{
    margin-top: 1em;
    margin-left: 2.5em;
    max-width: 90%;
    width: 75%;
    min-width: 40%;

}

#studentDetails{
    color: rgb(14, 70, 192);
    /* display:inline; */

    

    /* margin-top: 1em; */
    /* margin-bottom: 1em; */
}

#studentDetails p{
    /* width: 20%;
    float:left;
    margin-right: 1.5%;
    margin-left:1.5%;
    margin-top: 1em;
    margin-bottom: 1em; */
    /* max-width: 200px; */

    margin-bottom:0%;
    margin-left:15%;
    margin-right: 15%;
}
 #studentDetails label{
     margin-top: 0%; 
     margin-left:2.5em;
     margin-right: 2.5em;
     min-width: 150px;
 }
 h4{
    margin-bottom:0%;
    margin-left:2.5em;
    margin-right: 2.5em;
    min-width: 150px;
} 
.sectionLine{
    height:3px;
    width:95%;
    margin-right: 1em;
    margin-left:1em;
    background-color:rgba(99, 99, 99, 0.685);
}
.bottomSection .sectionLineTwo{
    height:3px;
    width:102.5%;
    margin-top: .25em;
    margin-left: -1em;
    background-color:rgba(99, 99, 99, 0.685);
}

#title{
    margin-top: 9.5em;
    color: rgb(75, 75, 75);
    margin-left:1em;
}


/* 
.title{
    color: rgb(75, 75, 75);
    float: left;
    margin-left:1em;
} */

.inputs{
    height:150px; 
}

 input[type="text"], input[type="date"], textarea, select{
    /* padding: 15px 5px; */
    border: 2px solid rgb(156, 156, 156);
    border-radius: 3px;
    outline:none;
    transition: all 0.2s ease;
}

 input:focus, #Date:focus, #degree:focus, textarea:focus{
    border-color: rgb(252, 128, 26);
    box-shadow: inset 0 1px 1px rgb(0,0,0, 0.0125),
                0 0 8px rgba(76,161,175,0.5);
}

.firstRow #firstColumn{
    width: 29.9%;
    float:left;
    margin-right: 1.5%;
    margin-left:1.5%;
    margin-top: .6em;
    margin-bottom: 1em;
}

#date{
    margin-top: .6em;
}
#location{
    margin-top:.6em;
}

.firstRow p, #paragraphDegree{
    width: 29.9%;
    float:left;
    margin-right: 1.5%;
    margin-left:1.5%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.secondRow p, #email{
    width: 29.9%;
    float:left;
    margin-right: 1.5%; 
    margin-left:1.5%;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (max-width: 800px){
    div.formPage{
       margin:25px auto 0;
       /* min-width: 512px; */
       /* height:1164px; */
       padding-bottom: 0;
       overflow: hidden;
       /* margin-left: 15px;
       margin-right:15px; */
    }
    .inputs{
        height:320px; 
    }

    #studentDetails th, #studentDetails h4, #studentDetails label{
        /* width: 5%; */
        width:10%;
        margin-left: 5%;
        margin-right: 5%;
    }
    #studentDetails p{
        min-width: 75px;
    }

    .firstRow p, #paragraphDegree{
        size: auto;
        width: 100%;
        margin:5px 0;
        text-align: center;

    }
    
    .secondRow p, #email{
        width: 100%;
        margin:5px 0;
        text-align: center;
        /* margin-bottom: 2em; */
    }

    .list p{
        margin-left: .1em;
        margin-right: .1em;
        float:left;
    }

    #dropDown{
       float:center;
    }
    #save{
        margin-top: .75em;
    }
    
    #validate{
        margin-top: .75em;
    }
}

/* .wrapper{
    margin-right: 5em;
    margin-left: 5em;
    margin: 5em auto 0;
    margin-top:0;
    margin-bottom:-0;
    width:100%;
    max-width:900px;
    height: 176px  ;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
} */

.bottomSection{
    /* margin-top: 75%;  */
    /* margin: 10px auto 0; */
    margin-top: .1em;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 1em;
    float:left;
}

.saveSection{
    /* margin-top: 75%;  */
    /* margin: 10px auto 0; */
    margin-top: .1em;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 1em;
    float:left; 
}

h4 .header-margin {
    /* margin-top: 2em; */
    min-width:50px;
    margin-bottom: 0%;
}
.list{
    margin-left: 24%;
    margin-right: 24%;
    float:center;
}

.list p{
    width: 3%;
    float:left;
    margin-right: 1em;
    margin-left:1em;
    margin-top: .1em;
    margin-bottom: .5em;
    /* text-align: center; */
}
.list label, .list input{
    margin-left: 1.5em;
    margin-right: 1.5em;
}

#dropDown{
    color: rgb(255, 255, 255);
    background-color: rgb(14, 70, 192);
    height:35px;
    border-radius: 3px;
    border:none;
    /* outline: none; */
    width:30%;
    margin-left: 35%;
    margin-right: 35%;
    overflow: hidden;
}
#extraInfo{
    display:none;
    background-color: rgb(70, 129, 240);
    color: rgb(255, 255, 255);
    width:80%;
    /* height:250px; */
    margin-right: 10%;
    margin-left: 10%;
    overflow: hidden;
}

#extraInfo p{
    padding:1em;
    
}

#extraInfo label{
    color:rgb(255, 255, 255);
    text-decoration: underline;
    font-weight: bold;
}

.saveButtons{
    margin-top: 1.5em;
}

#save{
    color: rgb(255, 255, 255);
    background-color: rgb(78, 164, 204);
    height:35px;
    border-radius: 3px;
    border:none;

    /* margin-top: .5em; */
    width:20%;
    margin-left: 28%;
    /* margin: auto 0; */
}

#validate{
    color: rgb(255, 255, 255);
    background-color: rgb(78, 164, 204);
    background-color: rgb(230, 0, 0);
    height:35px;
    border-radius: 3px;
    border:none;

    /* margin-top: .5em; */
    width:20%;
    margin-right: 28%;
    /* margin: auto 0; */
}

/* Added css for speech to text */

/* html {
    font-size: 10px;
  } */
  /* body {
    background: #ffc600;
    font-family: 'helvetica neue';
    font-weight: 200;
    font-size: 20px;
  } */
  .words {
    max-width: 500px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
    padding: 1rem 2rem 1rem 5rem;
    /* background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px; */
    background-size: 100% 3rem;
    position: relative;
    line-height: 3rem;
  }
  
   /* p{
    margin: 0 0 3rem;
  } */
  .words:before {
    content: '';
    position: absolute;
    width: 4px;
    top: 0;
    left: 30px;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #efe4e4;
  }

