@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

body{
	margin : 0;
	padding : 0;
	font-family: 'Alegreya Sans', sans-serif;
	overflow-x: hidden;
}
.nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	background-color: #111;
	opacity: .9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.7s;
}
.nav a {
	display: block;
	padding: 20px 30px;
	font-size: 25px;
	text-decoration: none;
	color: #ccc;
}
.nav a:hover {
	color: #fff;
	transition: 0.4s;
}
.nav .close {
	position: absolute;
	top: 0;
	right: 22px;
	margin-left: 50px;
	font-size: 30px
}
.slide a {
	color: #000;
	font-size: 36px;
}
#content {
	padding: 20px;
	transition: margin-left 0.7s;
	overflow: hidden;
	width: 100%;
	/*margin-top: 90px;*/
}

#profile{
border-radius: 50%;
width : 30%;
position: absolute;
left: 50%;
top: 17%;
transform: translate(-50%, -50%);
}

#list{
margin-top: 120px;
}

.table{
	width:100%;
	max-width: 100%;
	margin-bottom: 2rem; 
	background-color: #fff;
}

.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td{
text-align: left;
padding: 1.6rem;
vertical-align: top;
border-top: 0;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

.table > thead > tr > th{
	font-weight: 400;
	color : #757575;
	vertical-align: bottom;
	border-bottom: 1px solid rgba(0,0,0,0.12);
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead: first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead: first-child > tr:first-child > td{
	border-top: 0;
}

.table > tbody + tbody {
	border-top: 1px solid rgba(0,0,0,0.12);
}

.table .table{
	background: #fff;
}

.table .no-border{
	border:0;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td{
padding: 0.8rem;
}

.table-bordered {
	border :0;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td{
border: 0;
border-bottom: 1px solid #e0e0e0;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
	border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #FFF7F0;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
	background-color: rgba(0,0,0,0.12);
	cursor: pointer;
}

@media screen and (max-width: 768px){
	.table-vertical > .table{
		margin-bottom: 0;
		background-color: transparent;
	}
	.table-vertical > .table > thead,
	.table-vertical > .table > tfoot{
		display : none;
	}
	.table-vertical > .table > tbody{
		display : block;
	}
	.table-vertical > .table > tbody > tr{
		display : block;
		border: 1px solid #e0e0e0;
		border-radius: 2px;
		margin-bottom: 1.6rem;
	}
	.table-vertical > .table > tbody > tr > td{
		background-color: #fff;
		display: block;
		vertical-align: middle;
		text-align: right;
	}
	.table-vertical > .table > tbody > tr > td[data-title]:before{
		content : attr(data-title);
		float : left;
		font-size: inherit;
		font-weight: 400;
		color: #757575;
	}

	.table-vertical > .table-bordered > tbody > tr > td{
		border : 0;
	}

	.table-vertical > .table-bordered > tbody > tr > td{
		border:0;
		border-bottom: 1px solid #e0e0e0;
	}

	.table-vertical > .table-bordered > tbody > tr > td:last-child{
		border-bottom: 0;
	}

	.table-vertical > .table-bordered > tbody > tr > td,
	.table-vertical > .table-bordered > tbody > tr:ntn-child(odd){
		background-color: #fff;
	}

	.table-vertical > .table-bordered > tbody > td:ntn-child(odd){
		background-color: #f5f5f5;
	}

	.table-vertical > .table-hover > tbody > tr:hover > td,
	.table-vertical > .table-hover > tbody > tr:hover{
		background-color: #fff;
	}
	.table-vertical > .table-hover > tbody > tr > td:hover{
		background-color:rgba(0,0,0,0.12);
	}

	.table-striped.table-mc-red > tbody > tr:ntn-child(odd) >td,
	.table-striped.table-mc-red > tbody > tr:ntn-child(odd) >th{
		background-color: #FFF0E2;
	}

	.table-hover.table-mc-red > tbody > tr:hover >td,
	.table-hover.table-mc-red > tbody > tr:hover >th{
		background-color: #f9bdbb;
	}

}


.navbar {
	position: fixed;
	height: 120px;
	overflow: hidden;
	top:0;
	display: flex; 
	align-items: center;
	/*background:#696969;*/
	width : 100%;
	z-index: -1;
}

#logo{
	background: url(../img/logo.png) no-repeat 50% 50%;
	background-size: contain;
	width : 1800px;
	height : 100px;
	position: absolute;
	z-index: 1;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
}

.upper-margin{
	margin-top: 80px;
	margin-left: 50px;
}

.box{
	width: 500px;
	padding: 40px;
	border-radius: 10%;
	/*position: absolute;
	top: 50%;
	left: 50%;
	transform translate(-50%, -50%);*/
	margin: 100px auto;
	background: url(../img/students.jpg);
  	opacity: 0.5;
	background: #FFF0E2;
	text-align: center;
}

.box input[type = "text"], .box input[type = "password"]{
	border: 0;
	background: white;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #FBE5BB;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
}

.box input[type = "submit"]{
	border: 0;
	background: white;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #E1730C;
	padding: 14px 40px;
	width: 200px;
	outline: none;
	color: #696969;
	border-radius: 24px;
	transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
	width: 250px;
	border-color: #FCA156;
}

.box input[type = "submit"]:hover{
background: #E1730C;
color: white;
}

.box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}

.checked
{
color: #FBB16B;
z-index: 2;
cursor: pointer;
}
.unchecked
{
color:black;
z-index: 2;
cursor: pointer;
}

 body .back-transparent {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
}

body .back-transparent::after {
  content: "";
  background: url(students.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#login-img {
	width: 300px;
}












